  body{
    background-color: #efefef;
  }

  *:not(div.jscolor-picker-wrap) {
    transition: all .2s ease-in-out;
  }

  .skeleton{
    --bg: transparent;
    background: var(--bg);
    background-position: center center;
    margin: 20px 10px;
    box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1),
    8px 8px 16px -10px rgba(0, 0, 0, 0.15);
    padding: 10px;
  }
  
  .upper,
  .left,
  .right,
  .bottom {
    display: flex;
    padding: 0.25em 0.75em;
    margin: 5px;
    /* Shows the position */
    /* border: 1px dashed #ddd; */
  }

  .upper:empty,
  .left:empty,
  .right:empty,
  .bottom:empty{
    min-height: 10em;
  }
  
  /* .upper:empty::after,
  .left:empty::after,
  .right:empty::after,
  .bottom:empty::after{
    content: attr(class);
    width: 100%;
    font-size: 5em;
    text-align: center;
    color: #fff;
  } */

  .upper,
  .bottom {
    flex-direction: row;
  }
  
  .left,
  .right {
    flex-direction: column;
    width: fit-content;
  }

  .right{
    justify-self: right;
  }

  .left{
    justify-self: left;
  }
  
  .info-card {
    margin: 10px;
    border: 1px solid var(--color);
    border-radius: 10px;
    min-width: 8em;
    background: rgba(255,255,255,0.95);
    text-align: center;
  }
  
  .upper .info-card,
  .bottom .info-card {
    margin-right: 1em;
  }
  
  .left .info-card,
  .right .info-card {
    margin-bottom: 1em;
  }
  
  .upper .info-card:nth-last-child(1),
  .bottom .info-card:nth-last-child(1) {
    margin-bottom: 10px;
  }
  
  .left .info-card:nth-last-child(1),
  .right .info-card:nth-last-child(1) {
    margin-bottom: 10px;
  }
  
  .info-card h1 {
    padding: 0.25em 0.5em;
    margin: 0;
    background: var(--color);
    border-radius: 10px 10px 0 0;
    border: inherit;
    color: #fdfdfd;
  }
  
  .info-card ul {
    /*  Remove black circles before the names  */
    list-style: none;
    padding: 0 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.75em;
  }

  .info-card ul:empty{
    min-height: 3em;
  }
  
  .info-card ul:empty::after{
    content: '空';
    color: #ccc;
    font-size: 1.1em;
  }

  .info-card li::after {
    content: "";
    display: block;
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 3px;
  }
  
  .map_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  .skeleton {
    /* 别问我为什么这么写，因为心血来潮 */
    display: grid;
    grid-template-areas:
      "upper upper upper upper upper upper upper upper upper upper"
      "left map map map map map map map map right"
      "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom";
  }
  
  .popup {
    border: 1px solid var(--color);
    border-radius: 10px;
    min-width: 8em;
    width: inherit;
    background: rgba(255,255,255,0.75);
    opacity: 0.85;
    text-align: center;
    position: absolute;
  }
  
  .popup h1 {
    padding: 0.25em 0.5em;
    margin: 0;
    background: var(--color);
    border-radius: 10px 10px 0 0;
    border: inherit;
    color: #fdfdfd;
  }
  
  .popup ul {
    list-style: none;
    padding: 0 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.75em;
  }
  
  .popup input {
    border: 0;
    border-bottom: 1px solid #777;
    box-shadow: 0px -3px 5px rgba(0,0,0,0.1) inset;
    margin-right: 10px;
    letter-spacing: 00.2em;
  }

  .popup input:disabled,
  .popup input:disabled ~ i{
    opacity: 0;
  }
  
  .popup i {
    cursor: pointer;
    color: var(--color);
  }
  
  .popup span {
    position: relative;
    bottom: 0.5em;
    color: #aaa;
    cursor: pointer;
    margin: 1em;
  }
  
.popup .popup-position {
  margin: 1em 0 0 0;
}

.popup .popup-position i {
  height: 1.2em;
  width: 1.2em;
  padding: 0.1em;
  margin: 0 3px;
  border: 1px dashed #ddd;
  cursor: pointer;
}

.popup-enter-from,
.popup-leave-to {
  opacity: 0;
  transform: translateY(100px);
}

.popup-enter-active,
.popup-leave-active{
  transition: all 0.8s ease;
}

.popup .color-picker input {
  max-width: 6em;
}

.advance-controll {
  box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1),
    8px 8px 16px -10px rgba(0, 0, 0, 0.15);
  padding: 24px;
  border-radius: 20px;
  margin: 10px;
}

.advance-controll > h1 {
  color: #666;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1.5) 0%,
    rgba(231, 231, 231, 0.5) 100%
  );
  box-shadow: -10px -8px 5px -10px rgba(255, 255, 255, 1),
    7px 7px 5px -7px rgba(0, 0, 0, 0.25);
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
}

.advance-controll > span,
.advance-controll > div {
  font-size: 24px;
  padding: 0.5em;
  color: #777;
}

.advance-controll button,
.advance-controll .button {
  margin: 8px;
  padding: 10px 15px;
  border: 0;
  display: inline;
  outline: none;
  border-radius: 24px;
  font-size: 20px;
  font-family: "Helvetica";
  font-weight: normal;
  color: #777;
  background: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1),
    4px 4px 10px -8px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.15s linear;
}

.advance-controll button:hover,
.advance-controll .button {
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 0.3),
    4px 4px 10px -8px rgba(0, 0, 0, 0.8);
}

.advance-controll button:active,
.advance-controll .button {
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset,
    4px 4px 10px -8px rgba(0, 0, 0, 0.3) inset;
}

.advance-controll i,
.advance-controll img {
  margin-right: 8px;
}

.advance-controll input[type="radio"] ~ label {
  font-size: 20px;
  text-justify: center;
  margin-right: 15px;
}

.advance-controll input[type="text"] {
  margin: 0 20px;
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset,
    4px 4px 10px -8px rgba(0, 0, 0, 0.3) inset,
    4px 4px 10px -8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  border: 0;
  border-radius: 20px;
  height: 30px;
  padding: 0 10px;
  color: #777;
  letter-spacing: 2px;
}

.advance-controll a{
  text-decoration: none;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* v-enter-active 【入场动画的时间段】 */
/* v-leave-active 【离场动画的时间段】 */
.fade-enter-active,
.fade-leave-active{
  transition: all 0.3s ease-in-out;
}