<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="大学蹭饭图,蹭饭图生成,蹭饭图在线生成,大学蹭饭图生成,同学分布图,大学蹭饭图在线生成">
    <meta name="description" content="UMAP大学蹭饭图在线生成工具，可以利用网页直接生成图片并支持保存，支持透明及其他背景，方便后期进行二次修改，纯鼠标键盘操作，简单方便开源。">
    <meta name="author" content="Orangii|橙梓,me@orangii.cn">
    <meta name="copyright" content="Orangii|橙梓">
    <link rel="shortcut icon" href="https://orangii.cn/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.2.1/dist/vue.global.prod.js"></script>
    <script src="./js/index.js" defer></script>
    <title>UMAP - 一个大学蹭饭图生成器</title>
</head>
<body>
    <div id="main">
        <header>
            <h1>UMAP大学蹭饭图生成工具</h1>
            <p>在这里您可以快速预览生成大学蹭饭图，无需PS即可完成。</p>
            您还可以：<a href="#" onclick="alert('未完成')"><button><i class="far fa-file-alt"></i>查看介绍和教程</button></a><a href="https://github.com/Jiaocz/umap"><button><i class="fab fa-github"></i>Github Star</button></a><a href="https://github.com/Jiaocz/UMAP/issues"><button><i class="fas fa-bug"></i>提交BUG</button></a>
        </header>
        <hr />
        <section id="BrowserCheck">
            <h1>浏览器兼容性检查 <i class="fas fa-check green" v-show="BrowserCheckPassed"></i><i class="fas fa-times error" v-show="BrowserCheckFailed"></i></h1>
            <transition name="fade">
                <p key="text" v-if="!BrowserCheckPassed && !BrowserCheckFailed">正在检查浏览器兼容性，待完成之后即可打开制作页 <i class="fas fa-sync loading"></i></p>
            </transition>
            <transition name="fade">
                <p key="text" v-if="BrowserCheckFailed">您的浏览器存在下列问题 <button @click="recheck"><i class="fas fa-redo"></i>重新检测</button></p>
            </transition>
            <div id="table">
                <table>
                    <tr>
                        <th>检测项</th>
                        <th>状态</th>
                        <th>信息</th>
                    </tr>
                    <tr v-for="item in BrowserCheck">
                        <td>{{item.name}}</td>
                        <td>
                            <i class="fas fa-sync loading" v-if="item.status == 'loading'"></i>
                            <i class="fas fa-info info" v-if="item.status == 'info'"></i>
                            <i class="fas fa-check green" v-if="item.status == true"></i>
                            <i class="fas fa-times red" v-if="item.status == false"></i>
                        </td>
                        <td :class="item.class">{{item.info}}</td>
                    </tr>
                </table>
                <transition name="fade">
                    <a href="make.html" v-if="BrowserCheckPassed"><button><i class="fas fa-link"></i>打开制作页</button></a>
                </transition>
            </div>
        </section>
    </div>
    <footer>&copy; 2021&nbsp;<a href="https://orangii.cn">Orangii|橙梓</a> All rights reserved.</footer>
</body>
</html>